WCF/DiskInfoService/DiskInfoClient/DiskInfoClient/tempuri.org.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDiskInfo_GetTotalSpace_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalSpace" />
  </wsdl:message>
  <wsdl:message name="IDiskInfo_GetTotalSpace_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalSpaceResponse" />
  </wsdl:message>
  <wsdl:message name="IDiskInfo_GetFreeSpace_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFreeSpace" />
  </wsdl:message>
  <wsdl:message name="IDiskInfo_GetFreeSpace_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFreeSpaceResponse" />
  </wsdl:message>
  <wsdl:portType name="IDiskInfo">
    <wsdl:operation name="GetTotalSpace">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiskInfo/GetTotalSpace" message="tns:IDiskInfo_GetTotalSpace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiskInfo/GetTotalSpaceResponse" message="tns:IDiskInfo_GetTotalSpace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFreeSpace">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiskInfo/GetFreeSpace" message="tns:IDiskInfo_GetFreeSpace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiskInfo/GetFreeSpaceResponse" message="tns:IDiskInfo_GetFreeSpace_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultBinding_IDiskInfo" type="tns:IDiskInfo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTotalSpace">
      <soap:operation soapAction="http://tempuri.org/IDiskInfo/GetTotalSpace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFreeSpace">
      <soap:operation soapAction="http://tempuri.org/IDiskInfo/GetFreeSpace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>